.header_section {

  margin-top: 45px;
  height: 100%;
  width: 100%;
  @include flexbox(space-between, center, row);
  background-color: #fff;
  .header_bg {
    height: 100%;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .info {
    width: 60%;
    margin-left: 20px;
    color: #333;
    @include flexbox(center, center, column);
    text-align: center;
    h2 {
      letter-spacing: 1px;
      font-size: 2em;
      font-weight: 900;
      em {
        font-style: normal;
        color: #fba70b;
      }
    }
    p {
      margin: 20px 0;
    }
    .header_btn {
      text-decoration: none;
      font-size: 14px;
      border-radius: 25px;
      padding: 15px 25px;
      background-color: #fba70b;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: #f1556a;
      }
    }
  }
}
