@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.content{
  display: none;
}
@import 'mixins';
@import 'loader';
@import "header";
@import "services";
@import 'about_us';
@import 'user_rate';
@import 'footer';
@import "media_query";



